/*CABEÇALHO*/

.register-header {
    align-items: center;
    padding-top: 1rem;
}

.register-header__brand {
    width: 6rem;
    margin-bottom: 1rem;
}

.register-header__title {
    font-family: var(--fonte-familia-logo);
    font-size: var(--fonte-tamanho-logo);
    font-weight: (--fonte-peso-700);
    margin-bottom: 1rem;
}

@media(min-width: 800px) {
    .register-header__brand{
        width: 5.75rem;
        margin-bottom: 1rem;
    }

    .register-header__title {
        margin-bottom: 2rem;
    }
}